@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-coffee{
     background-color: #1A120B;
}

@keyframes blur-in {
  0% {
    filter: blur(10px);
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-blur-in {
  animation: blur-in 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
